<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h3>Post details:</h3>

  <%= @row['content'] %> <br>
  <br>
  Added at <%= @row['created_date'] %>
  <h4>Comments:</h4> <br>

  <% @comments.each do |comment| %>
    <p style="font-size: 17px;">
      <%= comment['content'] %> <br>
      <span style="font-size: 12px; color: #999;">Added at <%= comment['created_date'] %></span>
    <hr>
    </p>
  <% end %>

  <form action="/details/<%= @row['id'] %>" method="post">
    <textarea class="form-control" name="content" rows="6" placeholder="Type comment text here"></textarea>
    <br>

    <button type="submit" class="btn btn-primary">Add comment</button>
  </form>

</body>
</html>